/* Components
------------------------------------------------------------*/

// ===== loading =====
.c-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  background-color: $main-text-cl;
  z-index: 99;
  transition: 1.5s ease-in;
  pointer-events: none;

  &.--done {
    background-color: unset;
    opacity: 0;
    visibility: hidden;
  }

  &_container {
    width: 100%;
    height: 100%;
  }

  &_logo {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 1.2s ease-in;
    text-align: center;

    &.--fadein {
      opacity: 1;
    }

    img {
      width: min(17.56vw, 252.81px);
      height: auto;
      object-fit: contain;
    }

    @include maxW(1023px) {
      top: 85px;

      img {
        width: min(53.08vw, 219.76px);
      }
    }
  }
}

// ===== look =====
.c-heading {
  span {
    display: block;
    font-family: $eb-fonts;
    font-size: 4rem;
    font-weight: 400;
    color: $red-cl;
    line-height: 1.3;
  }

  h2 {
    font-family: $eb-fonts;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.28;
    margin-top: 5px;
  }

  p {
    font-family: $mincho-fonts;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
    margin-top: 22px;
  }

  @include maxW(1023px) {
    padding: 0 17px;

    span {
      font-size: 2rem;
    }

    h2 {
      font-size: 3rem;
      line-height: 1.05;
      margin-top: 12px;
    }

    p {
      font-size: 1.4rem;
      margin-top: 26px;
    }
  }
}

.c-container {
  padding: 0 8.125vw;

  @include maxW(1023px) {
    padding: 0;
  }
}
