/* variables
------------------------------------------------------------*/
$base-width: 1920px;

$main-fonts: dnp-shuei-gothic-gin-std, shippori-mincho-b1, sans-serif;
$eb-fonts: eb-garamond, serif;
$shuei-fonts: dnp-shuei-gothic-gin-std, sans-serif;
$mincho-fonts: shippori-mincho-b1, sans-serif;

//color common
$main-bg-cl: #fff;
$main-text-cl: #262626;
$black-cl: #000;
$white-cl: #fff;
$red-cl: #930000;
$gray-cl: #707070;

:root {
  --app-height: 100vh;
}
